body {
  font-family: sans-serif;
  background-color: #333;
  color: #eeeecc;
}

#menu {
  float: left;
  width: 100px;
  margin: 0 25px 10px 0;
  padding: 5px 15px;
  background-color: #282828;
}

a {
  text-decoration: none;
  color: inherit;
}

a#homeLink {
  font-size: larger;
  font-weight: bolder;
}

#menu div {
  left: 0px;
  right: 0px;
  padding: 0;
  margin: 0;
  width: auto;
  margin: 10px;
}

#menu div a {
  display: block;
  left: 0;
  right: 0;
  padding: 5px;
  margin: 0;
  width: auto;
  color: black;
}

#menu div a.redPassive {
  color: #cc9999;
}

#menu div a.redActive {
  background-color: pink;
}

#menu div a.greenPassive {
  color: #99cc99;
}

#menu div a.greenActive {
  background-color: lightgreen;
}

#menu div a.bluePassive {
  color: #9999cc;
}

#menu div a.blueActive {
  background-color: #6ae;
}
