p
    a#homeLink(href=pageRootPath + "index.html") Main Page
div#menu
    each item in menu
        if item.path == pagePath
            div
                a(href=pageRootPath + item.path + ".html", class=item.activeClass)=item.text
        else
            div
                a(href=pageRootPath + item.path + ".html", class=item.passiveClass)=item.text
